*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#mylife {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(25deg, #e10522 0%, rgba(225, 5, 34, 0) 70%), linear-gradient(85deg, #3105d1 10%, rgba(49, 5, 209, 0) 80%), linear-gradient(125deg, #0adbd8 10%, rgba(10, 219, 216, 0) 80%), linear-gradient(180deg, #09f505 100%, rgba(9, 245, 5, 0) 70%), linear-gradient(215deg, #e10522 0%, rgba(225, 5, 34, 0) 70%), linear-gradient(265deg, #3105d1 10%, rgba(49, 5, 209, 0) 80%), linear-gradient(305deg, #0adbd8 10%, rgba(10, 219, 216, 0) 80%), linear-gradient(340deg, #09f505 100%, rgba(9, 245, 5, 0) 70%); }
  #mylife ul {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-padding-start: 0px;
    list-style-type: none;
    position: relative; }
  #mylife li {
    position: absolute;
    transition: left 1s, right 1s;
    border: 1px solid RGBA(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 10px; }
  #mylife li:nth-child(odd) {
    -webkit-box-shadow: -5px 10px 47px -15px #181818;
    -moz-box-shadow: -5px 10px 47px -15px #181818;
    box-shadow: -5px 10px 47px -15px #181818; }
  #mylife li:nth-child(even) {
    -webkit-box-shadow: 5px 10px 47px -15px #181818;
    -moz-box-shadow: 5px 10px 47px -15px #181818;
    box-shadow: 5px 10px 47px -15px #181818; }
  #mylife li .frost {
    height: 100%;
    width: 100%;
    background: #CDCDCD;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.2;
    border: 1px solid #181818;
    border-radius: 5px; }
  #mylife li span {
    opacity: 1;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    position: absolute;
    top: 0;
    border-radius: 5px;
    padding: 15px; }
  #mylife svg {
    width: 120px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; }

@media handheld, screen and (min-width: 1300px) {
  #mylife li {
    height: 400px;
    width: 500px; } }
@media handheld, screen and (max-width: 1300px) {
  #mylife li {
    height: 400px;
    width: 450px; } }
@media handheld, screen and (max-width: 1200px) {
  #mylife li {
    height: 400px;
    width: 400px; } }
@media handheld, screen and (max-width: 1100px) {
  #mylife li {
    height: 400px;
    width: 350px; } }
@media handheld, screen and (max-width: 1000px) {
  #mylife li {
    height: 400px;
    width: 300px; } }
@media handheld, screen and (max-width: 900px) {
  #mylife li {
    height: 400px;
    width: 275px; } }
@media handheld, screen and (max-width: 800px) {
  #mylife li {
    height: 400px;
    width: 200px; } }
@media handheld, screen and (max-width: 600px) {
  #mylife li {
    height: 400px;
    width: 350px; }
  #mylife svg {
    right: 0;
    left: 80%; } }
@media handheld, screen and (max-width: 500px) {
  #mylife li {
    height: 400px;
    width: 300px; }
  #mylife svg {
    right: 0;
    left: 80%; } }
@media handheld, screen and (max-width: 400px) {
  #mylife li {
    height: 400px;
    width: 250px; }
  #mylife svg {
    right: 0;
    left: 80%; } }
@media handheld, screen and (max-width: 350px) {
  #mylife li {
    height: 400px;
    width: 200px; }
  #mylife svg {
    right: 0;
    left: 80%; } }
.mlleftout {
  left: -100%; }

.mlrightout {
  right: -100%; }

.mlleftin {
  left: 10%; }

.mlrightin {
  right: 10%; }

/*# sourceMappingURL=mylife.css.map */
